 
<input [(ngModel)]='value' [ngClass]="{'borderRed': value > 10}" >



<span *ngIf='value>10' class='bg-red'> Value is greater than 10</span>




<table>
<tr>
    <th>Name</th>
    <th>Age</th> 
</tr>

<tr *ngFor='let item of details'>

    <td>{{item.name}}</td>
    <td>{{item.age}}</td> 

    </tr>


</table>














<!-- 








  <app-one [value]='value' [mul]='multplier'   (answer)='displayAnswer($event)'></app-one>  
 

<span> The answer is {{answerfromOne}} </span>


<p appHighlight>5</p>


<span appHighlight> Jeeva </span>


<div (click)="animateDiv(red)" #red>CLICK ME</div> -->