<!-- <app-one [value]='value' [mul]='multplier'   (answer)='displayAnswer($event)'></app-one>  
 

<span> The answer is {{answerfromOne}} </span>


<p appHighlight>5</p>


<span appHighlight> Jeeva </span>


<div (click)="animateDiv(red)" #red>CLICK ME</div>  -->











<form [formGroup]="farmerDetails">

  <div>
    Farmer Name
    <input type='text' formControlName="FarmerName">
  </div>

  <div>
    Crop Name
    <input type='text' formControlName="CropName">
  </div>

  <div>
    Min Selling Price
    <input type='text' formControlName="min">
  </div>

  <div>
    Max Selling Price
    <input type='text' formControlName="Max">
  </div>
</form>




<select [(ngModel)]='farmerName'>
  <option>a</option>
  <option>b</option>
  <option>c</option>
  <option>akil</option>


  </select>
<button (click)='seeDetails()'>SEE DETAILS</button>

<button (click)='onSave()'>SAVE</button>