<div>
  <h1 style="text-align:center">amazon.in</h1>
</div>
<div class="login">

  <h2 class="margin">Login</h2>
  <h5 class="margin"> <label for="email or mobile phone number">email or mobile phone number</label> <br>

    <input class="height" type="text" size="40">
  </h5>
  <h5 class="margin">
    <label for="password">password</label><br>

    <input class="height" type="password" placehoder="password" size="40">
  </h5>

  <div class="margin">
    <button class="button1">Log in</button>
  </div>
  <p class="margin"> By continuing You agree to Amazon's <a href="facebook_ads_example" target="_blank"> Condition's of
      use </a> and <a href="facebook_ads_example" target="_blank"> privecy notice</a> </p>
  <br>
  <p class="margin"> <a href="facebook_ads_example" target="_blank"> need help? </a></p>

</div>
<div style="text-align:center" ?>
  <p>New to amazon
  <p>
</div>
<div>
  <button class="button2">create new amazon account</button>
</div>