<div>
    <app-sign-up></app-sign-up>
</div>

<body>
    <div>
    <h1>Sign up</h1>
    <p><label for="first name">First name</label>
    <input type="text" placeholder="first name" > </p>
    <p><label for="last name">Last name</label>
    <input type="text" placeholder="last name" ></p>
    <p><label for="User name">User name</label>
    <input type="text" placeholder="User name" ></p>
    <p><label for="Email id">Email id</label>
    <input type="text" placeholder="Email id" ></p>
    <p><label for="Password">Password</label>
    <input type="Password" placeholder="Password" font >
    </p>
    <hr>
    <button> create</button>
    
    </div>
    </body>