
<div class="relative ">
    <h1>Sign up</h1>
    <p><label for="first name">First name:</label>
    <input class="height" style="margin-left:45px"type="text" placeholder="first name"  size="35"  > </p>
    <p><label for="last name">Last name:</label>
    <input class="height"style="margin-left:47px" type="text" placeholder="last name" size="35"></p>
    <p><label for="User name">User name:</label>
    <input class="height" style="margin-left:45px" type="text" placeholder="User name" size="35" ></p>
    <p><label for="Email id">Email id:</label>&nbsp
    <input class="height" style="margin-left:55px" type="text" placeholder="Email id" size="35" ></p>
    <p><label for="Password">Password:</label>
    <input class="height" style="margin-left:53px" type="Password" placeholder="Password" size="35" >
    </p>
    <hr>
    <button> create</button>
    
    </div>